<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">

  <title>Отменили?</title>

  <link rel="stylesheet" type="text/css" href="static\styles\styles.css">

</head>

<body>
  <header>
  	<div class="Otmenili_Head">
  		<h1>Отменили.Ру</h1>
  		<h5>Главная, блин, афиша года</h5>

  </header>
 
  <div class="event">
  	<section class="event_name">Фестиваль Боль</section>
  	<section><a href="http://bolfest.com/" target="_blank" rel="noopener noreferrer" class="event_status_no"> Не-а</a></section>  
  </div>
<br>

<div class="event">
    <section class="event_name">Крестный ход против коронавируса в Липецке</section>
    <section ><a target="_blank" rel="noopener noreferrer" class="event_status_yes" href="https://www.interfax.ru/amp/698758">Отменили из-за коронавируса</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">АМОКОНФ</section>
  	<section class="event_status_no">Не отменили, но DON'T TALK TO ME OR MY SON EVER AGAIN</section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Петербургский международный экономический форум</section>
  	<section><a class="event_status_yes" target="_blank" rel="noopener noreferrer" href="https://www.interfax.ru/business/697967">Отменили</a></section>  
  </div>
<br>

 <div class="event">
  	<section class="event_name">Coachella</section>
  	<section><a class="event_status_yes" target="_blank" rel="noopener noreferrer" href="https://pitchfork.com/news/is-coachella-2020-being-postponed-due-to-coronavirus-concerns/">Фанаты Фрэнка Оушена плак-плак :( (переносят на осень)</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Spotify в России</section>
  	<section><a class="event_status_yes" target="_blank" rel="noopener noreferrer" href="">Да хрен его знает уже</a></section>  
  </div>
<br>
<div class="event">
  	<section class="event_name">Park Live</section>
  	<section><a class="event_status_no" target="_blank" rel="noopener noreferrer" href="https://park.live/">Нет</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Игромир/Comic-Con Russia</section>
  	<section ><a class="event_status_no" target="_blank" rel="noopener noreferrer" href="https://www.igromir-expo.ru/">Кодзима Гений (Нет)</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Пикник Афиши</section>
  	<section ><a class="event_status_no" target="_blank" rel="noopener noreferrer"  href="https://picnic.afisha.ru/">Нет</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Synergy Executive Forum</section>
  	<section class="event_status_no">Жаль, но нет</section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Депрессия</section>
  	<section ><a target="_blank" rel="noopener noreferrer" class="event_status_yes" href="https://www.youtube.com/watch?v=-pypV-JPU1k&t">Цветет и благоухает</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Фестиваль "Крымская Весна" на Тверской</section>
  	<section ><a target="_blank" rel="noopener noreferrer"  class="event_status_yes" href="https://www.kommersant.ru/doc/4283819">Возможно, вы слышите о нем впервые, но его отменили</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Flow Festival</section>
  	<section ><a target="_blank" rel="noopener noreferrer"  class="event_status_no" href="https://www.flowfestival.com/en/">Пока нет</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Концерт Бьорк в Москве</section>
  	<section ><a target="_blank" rel="noopener noreferrer" class="event_status_no" href="http://savshow.ru/concerts/bjork-orchestral/">Нет</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Голосовашки по Конституции</section>
  	<section ><a target="_blank" rel="noopener noreferrer" class="event_status_no" href="">Вроде нет</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Sziget</section>
  	<section ><a target="_blank" rel="noopener noreferrer" class="event_status_no" href="https://szigetfestival.com/ru/">Нет</a></section>  
  </div>
<br>

<div class="event">
  	<section class="event_name">Концерт Ушко в Ровеснике</section>
  	<section ><a target="_blank" rel="noopener noreferrer" class="event_status_no" href="">Ноуп!</a></section>  
  </div>
<br>

<div class="event">
    <section class="event_name">X Ambassadors</section>
    <section ><a target="_blank" rel="noopener noreferrer" class="event_status_yes" href="https://vk.com/popfarm?w=wall-49290676_39967">Перенесли в неизвестность</a></section>  
  </div>
<br>


<footer class="otmenili_feet">
	2020. Продакшен на коленке им. В. Лассута. Мой саундклауд <a class="event_status_yes" target="_blank" rel="noopener noreferrer"  href="https://vk.com/lassut0">тут</a>. Писать с рекомендациями по апдейтам сайта<a target="_blank" rel="noopener noreferrer" class="event_status_no" href="https://www.instagram.com/lassutlassut">сюда</a> 
	<br>
	<br>
	Отменили.ру создан по принципу "А почему бы и нет". Расположение концертов и событий случайно, автору сайта не проплатили. Вся информация из открытых источников. Всем мир, дружба, жвачка, никаких вирусов и стабильной валюты.
	<br>
	<br>
</footer>


</body>
</html>